html {
    font-family: 'Courier New', Courier, monospace;
    background-color: #777;
    color: white;
}

body {
    max-width: 55%;
    margin: auto auto 2em;
}

* {
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
}

header {
    border-bottom: 2px solid #fff;
    margin-bottom: 1em;
}

header h1 {
    text-align: center;
}

#show-equip {
    /* margin-top: 2em; */
    overflow-x: auto;
    display: flex;
    justify-content: center;
}

#show-equip table {
    width: 50%;
    border-collapse: collapse;
}

th, td {
    padding: 15px;
    text-align: left;
    border: 0;
    /* border-bottom: 1px solid #ddd; */
}

tr:nth-child(even) {
    background-color: #ccc;
    color: #000;
}

textarea {
    /* box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box; */
    display: block;
    width: 100%;
    height: 200pt;
    /* border-radius: 4px; */
    margin: auto;
    padding: 1em;
    font-size: 1.3em;
}

.buttons {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* ----
  Links
  ----- */

a {
    text-decoration: none;
}

a:hover {
    color: #fff;
    text-decoration: underline;
}

button {
    background-color: #fff;
    letter-spacing: 0.1em;
    word-spacing: 0.1em;
    color: #777;
    font-weight: bold;
    padding: 1em 1em;
    border-collapse: collapse;
    border: 1px solid #777;
    /* border-radius: 8px; */
    margin: 1em 0 0 -2px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
}

button:hover {
    background-color: #777;
    border: 2px solid #fff;
    color: #fff;
}

#switcher {
    display: none;
}

.table-footer {
    font-weight: bold;
}

footer {
    width: 100%;
    border-top: 2px solid #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 0.4em;
    color: white;
    margin-top: 1em;
}

footer > div {
    display: inline-block;
    padding: 1em;
}


@media screen and (max-width: 600px) {
    body {
        max-width: 90%;
    }

    table, #buttons {
        width: 100%;
    }
}

@media screen and (max-width: 480px) {
    body {
        max-width: 95%;
    }
}
